extends ../layouts/default

block main

block content
  .row
    .col-lg-12.jumbotron
      h1.page-header=title
        br
        small Real-time testing & analytics for anything experienced start to finish
      .row
        .col-md-6
          form.form-inline(role='form')
            .form-group
              label.sr-only(for='enterEventCode') Enter Event Code
              .input-group.input-group-lg
                input.form-control(type='text', placeholder='Enter Event Code')
                span.input-group-addon(type='submit') Go!
        .col-md-6
          a.pull-right.btn.btn-primary.btn-lg.kanari-btn(href="/events/new") Create New Event
  // /.row
  .row
    .col-lg-12
      img.img-responsive(src='http://placehold.it/1200x300')
  // /.row
  // Service Paragraphs
  .row
    .col-md-8
      h2.page-header What is Kanari?
      p
        | Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
    .col-md-4
      h2.page-header The Kanari Philosophy
      p
        | Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.
      a.btn.btn-primary(href='#') Read More
  // /.row
  // Service Tabs
  // /.row
  // Service Images
  .row
    .col-lg-12
      h2.page-header Get Started
    .col-sm-4
      img.img-responsive(src='http://placehold.it/750x450')
      h3 Find an Event
      form(method="post", action="/events/search", enctype="multipart/form-data")
        input(type="hidden", name="_csrf", value="#{csrf_token}")
        .form-group
          label.sr-only(for='enterEventCode') Enter Event Code
          .input-group
            input.form-control(type='text', placeholder='Enter Event Code')
            span.input-group-addon(type='submit') Go!

    .col-sm-4
      img.img-responsive(src='http://placehold.it/750x450')
      h3 Create an Event
      a.btn.btn-primary.kanari-btn(href="/events/new") Get Started
    .col-sm-4
      img.img-responsive(src='http://placehold.it/750x450')
      h3 Analyze past events
      ul.list-group
      - if (events && events.length)
        - each event in events
          li.list-group-item
            a(href='/events/'+event._id, title=event.title) #{event.title}, code: #{event.event_code}
        //@kamtodo:
        //   = link_to "#{event.title} #{event.soundcloud_uri.present? ? '(Complete)': ''}", event
      - else
        | No events! Create one!
  .row
    .col-lg-12
      h2.page-header Tips for a successful Kanari
      ul#myTab.nav.nav-tabs
        li.active
          a(href='#tip-one', data-toggle='tab') Tip One
        li
          a(href='#tip-two', data-toggle='tab') Tip Two
        li
          a(href='#tip-three', data-toggle='tab') Tip Three

      #myTabContent.tab-content
        #tip-one.tab-pane.fade.in.active
          i.fa.fa-gear.pull-left.fa-4x
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing. Pellentesque quis tristique eros, sed rutrum mauris.
          p
            | Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.
        #tip-two.tab-pane.fade
          i.fa.fa-gears.pull-left.fa-4x
          p
            | Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.
          p
            | Vestibulum laoreet molestie urna ac vehicula. Phasellus laoreet semper ipsum ac gravida. Sed in varius tortor. Nullam blandit in neque quis aliquet. Fusce volutpat pellentesque sem non convallis. Suspendisse sit amet magna pulvinar, gravida mauris eu, tincidunt massa. Nam lectus mi, viverra non quam nec, mollis malesuada dolor. Vivamus hendrerit nunc interdum turpis egestas, a lobortis odio consequat. Fusce posuere purus quis ligula faucibus lacinia. Curabitur sit amet congue dolor. Duis dapibus hendrerit nunc et gravida. Phasellus mollis, lectus quis ornare aliquam, arcu orci posuere lectus, vehicula bibendum sem ante quis lacus.
        #tip-three.tab-pane.fade
          i.fa.fa-magic.pull-left.fa-4x
          p
            | Vestibulum laoreet molestie urna ac vehicula. Phasellus laoreet semper ipsum ac gravida. Sed in varius tortor. Nullam blandit in neque quis aliquet. Fusce volutpat pellentesque sem non convallis. Suspendisse sit amet magna pulvinar, gravida mauris eu, tincidunt massa. Nam lectus mi, viverra non quam nec, mollis malesuada dolor. Vivamus hendrerit nunc interdum turpis egestas, a lobortis odio consequat. Fusce posuere purus quis ligula faucibus lacinia. Curabitur sit amet congue dolor. Duis dapibus hendrerit nunc et gravida. Phasellus mollis, lectus quis ornare aliquam, arcu orci posuere lectus, vehicula bibendum sem ante quis lacus.
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing. Pellentesque quis tristique eros, sed rutrum mauris.

